<a href="https://colab.research.google.com/github/felipemt267/Projeto-laranja-e-toranjas/blob/main/analise_de_dados_de_atletas_em_uma_lista.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [16]:
atletas = [
    ["Maria Silva", 1.75, 65],
    ["João Santos", 1.80, 72],
    ["Ana Pereira", 1.68, 58],
    ["Pedro Oliveira", 1.92, 85],
    ["Carlos Lima", 1.85, 78],
    ["Beatriz Souza", 1.70, 60],
    ["Fernanda Costa", 1.62, 55],
    ["Lucas Almeida", 1.88, 82],
    ["Rafaela Gomes", 1.74, 63],
    ["Gustavo Ferreira", 1.90, 88],
    ["Larissa Rocha", 1.66, 57],
    ["Henrique Nunes", 1.83, 76],
    ["Juliana Martins", 1.72, 80],
    ["Ricardo Carvalho", 1.86, 80],
    ["Sofia Alves", 1.64, 54],
    ["Matheus Ribeiro", 1.89, 84],
    ["Camila Duarte", 1.69, 80],
    ["Gabriel Monteiro", 1.77, 73],
    ["Eduarda Farias", 1.71, 62],
    ["Thiago Mendes", 1.84, 79],
]

Utilizando um loop for, crie um programa que processe a lista atletas e para cada atleta, imprima as informações no seguinte formato:

In [17]:
for atleta in atletas:
   nome = atleta[0]
   altura = atleta[1]
   peso = atleta[2]

   print(f'Nome:{atleta[0]}')
   print(f'Altura:{atleta[1]} M')
   print(f'Peso:{atleta[2]} KG')
   print('-'*20)

Nome:Maria Silva
Altura:1.75 M
Peso:65 KG
--------------------
Nome:João Santos
Altura:1.8 M
Peso:72 KG
--------------------
Nome:Ana Pereira
Altura:1.68 M
Peso:58 KG
--------------------
Nome:Pedro Oliveira
Altura:1.92 M
Peso:85 KG
--------------------
Nome:Carlos Lima
Altura:1.85 M
Peso:78 KG
--------------------
Nome:Beatriz Souza
Altura:1.7 M
Peso:60 KG
--------------------
Nome:Fernanda Costa
Altura:1.62 M
Peso:55 KG
--------------------
Nome:Lucas Almeida
Altura:1.88 M
Peso:82 KG
--------------------
Nome:Rafaela Gomes
Altura:1.74 M
Peso:63 KG
--------------------
Nome:Gustavo Ferreira
Altura:1.9 M
Peso:88 KG
--------------------
Nome:Larissa Rocha
Altura:1.66 M
Peso:57 KG
--------------------
Nome:Henrique Nunes
Altura:1.83 M
Peso:76 KG
--------------------
Nome:Juliana Martins
Altura:1.72 M
Peso:80 KG
--------------------
Nome:Ricardo Carvalho
Altura:1.86 M
Peso:80 KG
--------------------
Nome:Sofia Alves
Altura:1.64 M
Peso:54 KG
--------------------
Nome:Matheus Ribeiro
Altura:1.89 M
Peso:84 KG
--------------------
Nome:Camila Duarte
Altura:1.69 M
Peso:80 KG
--------------------
Nome:Gabriel Monteiro
Altura:1.77 M
Peso:73 KG
--------------------
Nome:Eduarda Farias
Altura:1.71 M
Peso:62 KG
--------------------
Nome:Thiago Mendes
Altura:1.84 M
Peso:79 KG
--------------------

Criando uma lista de tuplas

In [18]:
atletas_tuplas = []

for atleta in atletas:
  nome = atleta[0]
  altura = atleta[1]
  peso = atleta[2]

  atleta_tupla = (nome,altura,peso)
  atletas_tuplas.append(atleta_tupla)

print(atletas_tuplas)

[('Maria Silva', 1.75, 65), ('João Santos', 1.8, 72), ('Ana Pereira', 1.68, 58), ('Pedro Oliveira', 1.92, 85), ('Carlos Lima', 1.85, 78), ('Beatriz Souza', 1.7, 60), ('Fernanda Costa', 1.62, 55), ('Lucas Almeida', 1.88, 82), ('Rafaela Gomes', 1.74, 63), ('Gustavo Ferreira', 1.9, 88), ('Larissa Rocha', 1.66, 57), ('Henrique Nunes', 1.83, 76), ('Juliana Martins', 1.72, 80), ('Ricardo Carvalho', 1.86, 80), ('Sofia Alves', 1.64, 54), ('Matheus Ribeiro', 1.89, 84), ('Camila Duarte', 1.69, 80), ('Gabriel Monteiro', 1.77, 73), ('Eduarda Farias', 1.71, 62), ('Thiago Mendes', 1.84, 79)]

In [19]:
atletas

[['Maria Silva', 1.75, 65],
 ['João Santos', 1.8, 72],
 ['Ana Pereira', 1.68, 58],
 ['Pedro Oliveira', 1.92, 85],
 ['Carlos Lima', 1.85, 78],
 ['Beatriz Souza', 1.7, 60],
 ['Fernanda Costa', 1.62, 55],
 ['Lucas Almeida', 1.88, 82],
 ['Rafaela Gomes', 1.74, 63],
 ['Gustavo Ferreira', 1.9, 88],
 ['Larissa Rocha', 1.66, 57],
 ['Henrique Nunes', 1.83, 76],
 ['Juliana Martins', 1.72, 80],
 ['Ricardo Carvalho', 1.86, 80],
 ['Sofia Alves', 1.64, 54],
 ['Matheus Ribeiro', 1.89, 84],
 ['Camila Duarte', 1.69, 80],
 ['Gabriel Monteiro', 1.77, 73],
 ['Eduarda Farias', 1.71, 62],
 ['Thiago Mendes', 1.84, 79]]

Utilizando list comprehension para calcular a media dos atletas

In [20]:
alturas = [atleta[1] for atleta in atletas]
altura_media = sum(alturas) / len(alturas)

print(f"A altura média dos atletas é: {altura_media:.2f} metros")

A altura média dos atletas é: 1.77 metros

In [21]:
atletas

[['Maria Silva', 1.75, 65],
 ['João Santos', 1.8, 72],
 ['Ana Pereira', 1.68, 58],
 ['Pedro Oliveira', 1.92, 85],
 ['Carlos Lima', 1.85, 78],
 ['Beatriz Souza', 1.7, 60],
 ['Fernanda Costa', 1.62, 55],
 ['Lucas Almeida', 1.88, 82],
 ['Rafaela Gomes', 1.74, 63],
 ['Gustavo Ferreira', 1.9, 88],
 ['Larissa Rocha', 1.66, 57],
 ['Henrique Nunes', 1.83, 76],
 ['Juliana Martins', 1.72, 80],
 ['Ricardo Carvalho', 1.86, 80],
 ['Sofia Alves', 1.64, 54],
 ['Matheus Ribeiro', 1.89, 84],
 ['Camila Duarte', 1.69, 80],
 ['Gabriel Monteiro', 1.77, 73],
 ['Eduarda Farias', 1.71, 62],
 ['Thiago Mendes', 1.84, 79]]

Nome dos atletas que possuem IMC maior que 25 e imprima essa lista.

In [22]:

atletas_sobrepeso = [atleta[0] for atleta in atletas if (atleta[2] / (atleta[1] ** 2)) > 25]
print("Atletas com IMC maior que 25:")
print(atletas_sobrepeso)

Atletas com IMC maior que 25:
['Juliana Martins', 'Camila Duarte']

Classificando IMC dos atletas

In [25]:
classificacao_imc = [
    (atleta[0], 'Sobrepeso' if (atleta[2] / (atleta[1] ** 2)) > 25 else 'peso Nomral')
    for atleta in atletas
]
print('Classificação do IMC:')
print(classificacao_imc)

Classificação do IMC:
[('Maria Silva', 'peso Nomral'), ('João Santos', 'peso Nomral'), ('Ana Pereira', 'peso Nomral'), ('Pedro Oliveira', 'peso Nomral'), ('Carlos Lima', 'peso Nomral'), ('Beatriz Souza', 'peso Nomral'), ('Fernanda Costa', 'peso Nomral'), ('Lucas Almeida', 'peso Nomral'), ('Rafaela Gomes', 'peso Nomral'), ('Gustavo Ferreira', 'peso Nomral'), ('Larissa Rocha', 'peso Nomral'), ('Henrique Nunes', 'peso Nomral'), ('Juliana Martins', 'Sobrepeso'), ('Ricardo Carvalho', 'peso Nomral'), ('Sofia Alves', 'peso Nomral'), ('Matheus Ribeiro', 'peso Nomral'), ('Camila Duarte', 'Sobrepeso'), ('Gabriel Monteiro', 'peso Nomral'), ('Eduarda Farias', 'peso Nomral'), ('Thiago Mendes', 'peso Nomral')]